hr{
	height:2px;
	background-color:black
}
#hell{
	color:white;
	background-color:black
}

#para{	
	border-style:dotted;
	border-width:7px;
	border-color:blue;
	border-radius:3px;
	border-left-style:solid;
	border-left-color:yellow;
	border-bottom-color:orange;
	border-bottom-style:double;	
}

.dive{
	border:2px solid blue;	
	

}
#marg{
	border:2px solid red;
	width:800px;
	margin-top:0px;
	margin-bottom:50px
	
}
#mar{
	border:2px solid red;	
	margin-right:50px;
	margin-left:100px;		
}
#ma{
	border:2px solid red;	
	margin:auto;
	width:200px
}

#pa{
	padding-top:10px;
	padding-left:30px;
	padding-bottom:30px;
	border:1px solid red;	
	width:200px
}

#ht{
	border:1px solid red;
	height:100px;
	width:200px;
}
#box{
	border:1px solid black;
	margin:auto;
	padding:5px;
	width:200px
}

#text{
	color:red;
	background-color:black;
}
#tex{
	text-align:center;
	text-decoration:underline;
	text-decoration-color:red;
	text-decoration-style:dotted;
	text-decoration-thickness:3px
}
#te{
	text-align-last:right;
	text-transform:uppercase;
}
#t{
	direction:rtl;/*text starting direction*/
	unicode-bidi:bidi-override;
}
#font{
	font-family:Arial;
	font-style:italic;
	font-weight:normal;
}
#fon{
	font-size:10px;
}
#fo{
	font-size:2vw
}
#f{
	font:italic bold 1vw Arial 
}

 a:link {
	 color: red;
	 text-decoration:none
}
a:visited{
	color:green;
	
}
a:hover{
	color:blue;
	background-color:red;
	font-size:40px
}
a#lin:active{
	color:pink;
}

ul.a {
  list-style-type: circle;
  list-style-position:inside
}
ol.b {
  list-style-type: lower-roman;
  list-style-image:url()/*dought*/
}

 /*The display Property dought*/
 
 #over{
	 height:40px;
	 border:1px solid;
	 width:100px;
	 overflow:hidden; 
 }
 #ove{
	 height:40px;
	 border:1px solid;
	 width:100px;
	 overflow:scroll; /*(auto,visible)*/
 }
 .img{
	 border:1px solid black;
	 position:relative
	 
 }
 #img{
	 margin:auto;
	 width:200px;
	 display:block;
	 margin:auto;
	 opacity:0.5;
 }
 
 .img p {
	 position:absolute;
	 top:0px;
	 left:10px;
	 text-align:center;
	 color:red;
	 border:1px solid green;
	 background-color:gray;
	 opacity:0.5;
	 font-weight:bold
 }
 
 
 